name: CI

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: write
  issues: write
  pull-requests: write

# do not serialize all runs across the repo
concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    uses: ./.github/workflows/format.yml

  typecheck:
    uses: ./.github/workflows/typecheck.yml

  lint:
    uses: ./.github/workflows/lint.yml

  container:
    needs: [lint, typecheck, format]
    runs-on: ubuntu-latest
    steps:
      - name: all jobs succeeded
        id: all-green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  build:
    needs: [container]
    uses: ./.github/workflows/build.yml
    secrets: inherit

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    uses: ./.github/workflows/deploy.yml
    with:
      version: ${{ needs.build.outputs.VERSION }}
    secrets: inherit
