name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

concurrency:
  group: Release
  cancel-in-progress: false

jobs:
  format:
    uses: ./.github/workflows/format.yml
  typecheck:
    uses: ./.github/workflows/typecheck.yml
  lint:
    uses: ./.github/workflows/lint.yml

  build:
    uses: ./.github/workflows/build.yml

  docker:
    if: github.ref == 'refs/heads/main'
    needs: [format, typecheck, lint, build]
    uses: ./.github/workflows/container.yml
    secrets: inherit
