name: Container

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

env:
  DOCKERHUB_USERNAME: ashgw

jobs:
  container-build:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Get version from package.json
        id: version
        run: |
          VERSION=$(grep -o '"version": "[^"]*"' package.json | cut -d'"' -f4)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Build & tag image
        run: |
          docker build -t ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:${{ env.VERSION }} .
          docker tag ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:${{ env.VERSION }} ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:latest

      - name: Save Docker image as artifact
        run: docker save ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:${{ env.VERSION }} -o image.tar
      - uses: actions/upload-artifact@v4
        with:
          name: vault-mcp-image
          path: image.tar

  container-deploy:
    needs: container-build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Download Docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: vault-mcp-image
          path: .

      - name: Load Docker image
        run: docker load -i image.tar

      - name: Login to DockerHub
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ env.DOCKERHUB_USERNAME }} --password-stdin

      - name: Push version-tagged image
        run: docker push ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:${{ needs.container-build.outputs.VERSION }}

      - name: Push latest tag
        run: docker push ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:latest
