name: Container

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

env:
  DOCKERHUB_USERNAME: ashgw
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: Set DATE_TAG
        run: echo "DATE_TAG=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_ENV
      - name: Build & tag image
        shell: bash
        run: |
          docker build -t ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:${{ env.DATE_TAG }} .
          docker tag ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:${{ env.DATE_TAG }} ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:latest

      - name: Login to DockerHub
        run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u ${{ env.DOCKERHUB_USERNAME }} --password-stdin

      - name: Push date-tagged image
        run: docker push ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:${{ env.DATE_TAG }}

      - name: Push latest tag
        run: docker push ${{ env.DOCKERHUB_USERNAME }}/vault-mcp:latest
